# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Données
data/raw/
data/processed/

# MLflow
mlruns/
mlflow.db

# Modèles locaux
*.pkl
*.joblib

# Environnement virtuel
venv/
env/
.venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker/*.db